.isActive {
    background-color: #6c1601;
    border: 0;
    padding: 11px 22px;
    border-radius: 50px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    font-family: 'rick-and-morty'
  }



.isInactive {
    background-color: #f96e4d;
    border: 0;
    padding: 11px 22px;
    height: fit-content;
    border-radius: 50px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    font-family: 'rick-and-morty';
    font-weight: 900;
    text-decoration: none;
  }