.listItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
   justify-content: center;
    width: auto;
    padding: 1em;
    margin: 5px;
    font-weight: 500;
    border-radius: 30px;
  }
 